@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.contact_left {
  background-image:
    linear-gradient(#014f52bb), url("./assets/images/contacts.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
